body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y:scroll;
}

a{
    text-decoration: none;
    color: black;
}

h5{
    font-style: italic;
    font-family: 'oswald', sans-serif;
    font-weight: bold;
}

h6{
    font-family: 'oswald', sans-serif;
}

.body_text{
    margin-top: 2em;
    left: 0;

}

.menu{
    position: relative;
    width: 90%;
    z-index: 9999;
}
.navbar_logo{
    width: 5em;
    margin-left: 5em;
}
.my-navbar{
    width: 100%;
    padding: 20px 20px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 999;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

.nav-item .nav-link{
    font-family: 'oswald', sans-serif;
    font-size: 15px;
    color: black;
    font-weight: 300!important;
    text-transform: uppercase;
    margin: 0px 10px;
    position: relative;

}

.nav-item .nav-link::before{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transition: 0.5s;
    content: "";
    transform-origin: left;
    background-color: brown;
}

.nav-item .nav-link:hover::before{
    transform-origin: right;
    transform: scaleX(1);
}

.navbar-scroll{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    padding: 5px 20px;
    transition: 0.5s;
    animation: scroll 0.6s 1;
}



.navbar-brand{
    text-transform: capitalize;
    font-size: 35px;
    color: #2f3542;
    font-style: italic;
    font-family: 'oswald', sans-serif;
    font-weight: bold;
}

.slider{
    position: relative;
    width: 100%;
}
.title_text{
    font-size: 25px;
}

.carousel-item img{
    width: 100%;
    height: 130vh;
}
.body_title{
    display: flex;
    justify-content: center;
    font-family: 'oswald', sans-serif;
    font-weight: bold;
    border-bottom: groove;
    margin-left: 30em;
    margin-right: 30em;

}
.body_title :hover{
    color: #2f3542;

}
.body_filling{
    display: flex;
    justify-content: right;
    margin-top: 2em;
    
}

.trainer_center{
    justify-content: center;
}
.trainer_right{
    justify-content: left;
}
.map_web{
    width: 50%;
}
.map_size{
    margin-top: 2em;
    justify-content: center;
}
.map_phone{
    display: none;
}

.body_filling_picture{
    width: 23em;
    border: rgb(216, 200, 110);
    border-style: double;
    border-radius: 15px;
    transition: 0.2s;
}
.body_filling_picture:hover{
    transform:scale(1.01);
}

.contact_in{
    margin-top: 100px;

    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contact_form{
    align-items: center;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 50%;
}

.input_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
    margin-bottom: 50px;
    

}

.contact_form_txt{
    width: 100%;
    height: auto;
    flex: 50%;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;

}
.contact_form_textarea{
    width: 100%;
    height: auto;
    flex: 50%;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 20px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    padding-top: 60px;
}

.contact_form_btn{
    width: 100%;
    height: 50px;
    outline: none;
    border-radius: 50px;
}

.bottom_text{
    padding-bottom: 50px;
    bottom: 100px;
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
    align-items: center;
    font-family: 'oswald', sans-serif;
	font-size: 15px;
    padding: 15px;
    margin-top: 30px;
}

menu{
    --size:4rem;
    --radius: 8rem;
    --padding: 2rem;
    --bg-color: rgba(255, 255, 255,0.9);
    --fg-color: rgba(0,0,0,0.7);
    --hi-color:#c22eff;
    position: fixed;
    bottom: var(--padding);
    right: var(--padding);
}

menu > *{
    position: absolute;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background: var(--bg-color);
    color: var(--fg-color);
    text-decoration: none;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.6);
}

menu > .action{
    --factor:0;
    width: var(--size);
    height: var(--size);
    right: calc(0.35 * var(--size));
    bottom: calc(0.35 * var(--size));
    transform:rotate(calc(-1 * var(--angle))) translateY(calc(-1 *var(--radius)* var(--factor))) rotate(var(--angle));
    transition: transform 250ms ease-in-out, opacity 250ms ease-in-out box-shadow 250 ease-in-out color 250ms ease-in-out;
    opacity: 0;
}
menu >.action:hover{
    color: var(--hi-color);
}

menu >.action:hover, menu > .trigger:hover{
    color: var(--hi-color);
    box-shadow: 0px 0px 0px 0.35rem rgba(0, 0, 0, 0.2);
}

menu.open >.action{
    --factor:1;
    opacity: 1;
}

menu > .action:nth-child(1){
    --angle: 5deg;
    transition-delay: 0ms;
    font-size: 1.5rem;
}

menu > .action:nth-child(2){
    --angle: 50deg;
    transition-delay: 75ms;
    font-size: 1.5rem;
}

menu > .action:nth-child(3){
    --angle: 95deg;
    transition-delay: 150ms;
    font-size: 1.5rem;
}

menu >.trigger{
    width: calc(1.5 * var(--size));
    height: calc(1.5 * var(--size));
    font-size: 2rem;
    bottom: 0;
    right: 0;
    transition: box-shadow 250 ease-in-out color 250ms ease-in-out;
}

menu >.trigger >i{
    transition: transform 250ms ease-in-out;
}

menu.open > .trigger > i{
    transform:rotate(-135deg);
}

.trainer_phone{
    display: none;
}
.program_phone{
    display: none;
}
@keyframes scroll{
    0%{transform:translateY(-100%);}
    100%{transform:translateY(0%);}
}

@media screen and (max-width:1276px){
    .navbar_logo{
        margin-left: 0;
    }
    .menu{
        width: 90%;
        margin-left: 2rem;
    }
    .my-navbar{
        width: 90%;
    }
    .carousel-item img{
        width: 100%;
        height: auto;
    }
    .contact_form{
        width: 120%;
    }
    .trainer_web{
        display: none;
    }
    .trainer_phone{
        display: block;
        margin-top: 1rem;
        margin-left: 0.5rem;
    }
    .trainer_picture_phone{
        margin-top: 1rem;
    }
    .program_web{
        display: none;
    }
    .program_phone{
        display: block;
        margin-top: 1rem;
        margin-left: 0.5rem;
    }
    .program_picture_phone{
        margin-top:1rem ;
    }
    menu{
        --padding:2rem;
    }
    .body_title{
        margin-left: 4em;
        margin-right: 4em;
    }
    .map_web{
        display: none;
    }
    .map_phone{
        display: block;
    }
}